@import "../../partials/mixin";
@import "../../partials/variables";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-uploads {
  display: flex;
  flex-direction: column;

  &__titlebox {
    border-top: 1px solid $font-color-secondary-mercury;
  }

  &__title {
    @include section-header-text;
    color: $font-color-primary-black;
    margin: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
    @include tablet {
      margin: 1rem 1.5rem;
    }
    @include desktop {
      margin: 1rem 6rem;
    }
  }

  &__subtitle {
    @include subheader-text-mobile;
    color: $font-color-primary-silver;
    margin: 0 0 0 1rem;
    @include tablet {
      margin: 0 0 0 1.5rem;
    }
    @include desktop {
      margin: 0 0 0 6rem;
    }
  }
  &__img {
    background-image: url(../../assets/Images/Upload-video-preview.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    object-position: center;
    margin: 1rem auto;
    width: 95%;
    height: 30vh;
    border-radius: 10px;
    @include tablet {
      width: 45%;
      margin: 1rem 1.5rem;
      height: 20vh;
    }
    @include desktop {
      margin: 1rem 6rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    @include tablet {
      margin: 1rem 1.5rem;
    }
    @include desktop {
      margin: 1rem 6rem;
    }
    &--label {
      @include subheader-text-mobile;
      color: $font-color-primary-silver;
      margin: 2rem 0 0.5rem 0;
    }
    &--input {
      background-color: #fafafa;
      border: 2px solid #e1e1e1;
      border-radius: 4px;
      height: 3rem;
      padding: 1rem;
    }
    &--textarea {
      resize: none;
      @include page-body-copy-mobile;
      color: $font-color-secondary-mercury;
      background-color: #fafafa;
      border: 2px solid #e1e1e1;
      border-radius: 4px;
      padding: 1rem;
      height: 8rem;
      @include tablet {
        margin-bottom: 2rem;
      }
    }
    &--buttonbox {
      @include tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        border-top: 1px solid $font-color-secondary-mercury;
      }
    }

    &--button2 {
      padding: 1rem 3rem;
      font-size: 1rem;
      background-color: #0095ff;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
      border: none;
      &:hover {
        background-color: #0065ad;
      }
      @include tablet {
        margin: 1rem 0 1rem 2rem;
      }
    }
    &--cancel-button {
      font-size: 1rem;
      background-color: $font-color-primary-white;
      color: #0095ff;
      border-radius: 4px;
      border: none;
      padding: 1rem 3rem;
      margin: 1rem 0;
    }
  }
}
a {
  text-decoration: none;
}
