@use "../../partials/mixin" as *;
@use "../../partials/variables" as *;

.next-video {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    &__title {
        @include subheader-text-mobile;
        color: $font-color-secondary-mercury;
        
    }
    
    &__box {
        display: flex;
        padding: .75rem 0;
        
        &--img {
            height: 6rem;
            min-width: 10rem;
            border-radius: 4px;
            object-fit: cover;
        }
        &--text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            @include section-header-text-mobile;
            padding-left: 1rem;
            
            
        }
        &--title{
            display: block;
            margin: 0;
            max-height: 4rem;
            // max-width: 16rem;
            overflow: hidden;
            // white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 500;
            
        }
        &--author {
            margin: 0;
            font-weight: 400;
        }
    }
}