@import "./partials/mixin";
@import "./partials/variables";
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-box {
  @include desktop {
    display: flex;
    flex-direction: row;
    margin: 0 6rem;
    justify-content: center;
  }
  @media screen and (min-width: 1440px) {
    margin: 0 11.25rem;
  }
}
