$font-color-primary-black: #323232;
$font-color-primary-silver: #afafaf;
$font-color-primary-white: #fff;
$font-color-secondary-darkblack: #000;
$font-color-secondary-mercury: #e1e1e1;
$font-color-secondary-alabaster: #fafafa;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;